body {
	background-color: #ffffff;
	text-align: center; /* make sure IE centers the page too */
	margin:0;
  	padding:0;	
}

#wrapper {
	width: 700px;
	margin: 0 auto; /* center the page */
}

#content {
	background-color: #fff;
	font-family: Arial;
	padding: 20px 30px;
	margin: 0 auto;
}

#menu {
	border-bottom: none;		/* avoid a double border */
	clear: both;				/* clear:both makes sure the content div doesn't float next to this one but stays under it */
	width:100%;
	height:119px;
	padding: 9 30px;
	background-color: #FFF;
	text-align: left;
	font-size: 100%;
	float: left;
	display: flex;
	justify-content: space-between;
	margin-top: 1px;
}

#menu a:hover {
	background-color: #0b4e9f;
}

#sign-in {
	float: right;
}

#header {
	background-color:#0C5633;
	margin: 0 auto; 
	border-bottom: 1px solid #000;
}

#home {
	margin: 0 auto;
}

#stage {
    margin: 0 auto;
    width: 382px;
    height: 292px;
  }

  #stage a {
    position: absolute;
  }
  #stage a img {
    border: 1px solid #000000;
    background: #fff;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

#footer {
	font-size: 65%;
	padding: 3px 0 0 0;
	clear: both;
}

/* begin table styles */
table {
	border-collapse: collapse;
	width: 100%;
}

table a {
	color: #000;
}

table a:hover {
	color:#373737;
	text-decoration: none;
}

th {
	background-color: #B40E1F;
	color: #F0F0F0;
}

td {
	padding: 5px;
}

/* Begin font styles */
h1, #header {
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	text-decoration: none;
}

h2, #header {
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	text-decoration: none;
}

h4, #footer {
	font-family: 'Times New Roman', Times, serif;
	color: #0C5633;
}


h3 {margin: 0; padding: 0;}

ul{
	padding-left: 0;
}

hr{
	margin-top: 138px;
}

p{
	font-family: 'Times New Roman', Times, serif;
	font-size: 100%;
}

/* Menu styles */
.item {
	border-bottom-left-radius: 8.5px;
	border-bottom-right-radius: 8.5px;
	background-color: #0C5633;
	color: #FFF;
	font-family: Arial;
	padding: 13px;
	text-decoration: none;
	text-align: center;
}

.item-no-heading {
	border-radius: 8.5px;
	border: 1px solid #000;
	background-color: #0C5633;
	color: #FFF;
	font-family: Arial;
	padding: 9px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 80px;
}

.item-heading {
	border-top-left-radius: 8.5px;
	border-top-right-radius: 8.5px;
	background-color: #028447;
	color: #FFF;
	font-family: 'Times New Roman', Times, serif;
	padding: 9px;
	text-decoration: none;
	border-bottom: 1px solid #000;
}

.item-middle {
	background-color: #0C5633;
	color: #FFF;
	font-family: Arial;
	padding: 9px;
	text-decoration: none;
	text-align: center;
	border-bottom: 1px solid #000;
}

.section-block-a {
	height: 81px;
	display: inline-flex;
    flex-direction: column;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
}

.section-block-b {
	height: 119px;
	display: inline-flex;
    flex-direction: column;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
}

.leftpart {
	width: 70%;
}

.rightpart {
	width: 30%;
}

.small {
	font-size: 75%;
	color: #373737;
}

.topic-post {
	height: 100px;
	overflow: auto;
}

.post-content {
	padding: 30px;
}

textarea {
	width: 500px;
	height: 200px;
}

.heading {
	display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-decoration: none;
	padding: 3px;
}

.logo-heading {
	padding-right: 20px;
	width: 117px;
	height: 149px;
}

.inner-heading {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    max-width: 100%;
    text-decoration: none;
}

.first-line {
	padding-bottom: 0px;
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	align-items: center;
}

.second-line {
	padding-top: 0px;
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
}

.header {
	width: 100%;
	float: left;
}

.content {
	width: 100%;
	float: left;
}

.footer {
	width: 100%;
	float: left;
}

